<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853327329610-u8bhv7diftg5ss3tfvc0d9jp2uvg6ehb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853327329610-u8bhv7diftg5ss3tfvc0d9jp2uvg6ehb</string>
	<key>API_KEY</key>
	<string>AIzaSyAQ4x5kkDAWPlIJcFGb3V0qgg0vA56yAbM</string>
	<key>GCM_SENDER_ID</key>
	<string>853327329610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vho.emojifier</string>
	<key>PROJECT_ID</key>
	<string>emojifier-463ea</string>
	<key>STORAGE_BUCKET</key>
	<string>emojifier-463ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853327329610:ios:d0fc7dec9c93612f7529b3</string>
</dict>
</plist>